/****** Object:  User [backend_user]    Script Date: 21/09/2026 10:00:05 ******/
CREATE USER [backend_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [batch_user]    Script Date: 21/09/2026 10:00:05 ******/
CREATE USER [batch_user] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'batch_user'
GO
/****** Object:  Schema [raw]    Script Date: 21/09/2026 10:00:05 ******/
CREATE SCHEMA [raw]
GO
/****** Object:  Schema [temp]    Script Date: 21/09/2026 10:00:05 ******/
CREATE SCHEMA [temp]
GO
/****** Object:  Table [dbo].[comext_exp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comext_exp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comext_imp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comext_imp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cpa_intra]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cpa_intra](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PERIOD] [bigint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cpa_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cpa_trim](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](50) NULL,
	[trimestre] [varchar](50) NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_extra_ue]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_extra_ue](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_extra_ue_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_extra_ue_trim](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[TRIMESTRE] [varchar](50) NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[z_eu_country]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_eu_country](
	[CODE] [nvarchar](2) NOT NULL,
	[DAT_INI] [int] NULL,
	[DAT_FIN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[z_eu_country] ([CODE], [DAT_INI], [DAT_FIN]) VALUES (N'AT', 1900, NULL)
INSERT [dbo].[z_eu_country] ([CODE], [DAT_INI], [DAT_FIN]) VALUES (N'BE', 1900, NULL)
INSERT [dbo].[z_eu_country] ([CODE], [DAT_INI], [DAT_FIN]) VALUES (N'BG', 1900, NULL)
GO
/****** Object:  Table [raw].[annual_industrial_production]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[annual_industrial_production](
	[DATAFLOW] [nvarchar](50) NULL,
	[LAST UPDATE] [nvarchar](50) NULL,
	[freq] [nvarchar](50) NULL,
	[indic_bt] [nvarchar](50) NULL,
	[nace_r2] [nvarchar](50) NULL,
	[s_adj] [nvarchar](50) NULL,
	[unit] [nvarchar](50) NULL,
	[geo] [nvarchar](50) NULL,
	[TIME_PERIOD] [int] NULL,
	[OBS_VALUE] [float] NULL,
	[OBS_FLAG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[annual_report]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[annual_report](
	[DATAFLOW] [nvarchar](50) NULL,
	[LAST UPDATE] [nvarchar](50) NULL,
	[freq] [nvarchar](50) NULL,
	[indic_de] [nvarchar](50) NULL,
	[geo] [nvarchar](50) NULL,
	[TIME_PERIOD] [int] NULL,
	[OBS_VALUE] [float] NULL,
	[OBS_FLAG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[comext_exp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[comext_exp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[comext_imp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[comext_imp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[cpa_intra]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[cpa_intra](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PERIOD] [bigint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[cpa_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[cpa_trim](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](50) NULL,
	[trimestre] [varchar](50) NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[external_file]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[external_file](
	[filename] [nvarchar](50) NULL,
	[url] [nvarchar](200) NULL,
	[tablename] [varchar](50) NULL,
	[schemaname] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[product]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[product](
	[DECLARANT] [nvarchar](50) NULL,
	[DECLARANT_ISO] [nvarchar](50) NULL,
	[PARTNER] [nvarchar](50) NULL,
	[PARTNER_ISO] [nvarchar](50) NULL,
	[TRADE_TYPE] [nvarchar](50) NULL,
	[PRODUCT_NC] [nvarchar](50) NULL,
	[PRODUCT_SITC] [nvarchar](50) NULL,
	[PRODUCT_CPA2002] [nvarchar](50) NULL,
	[PRODUCT_CPA2008] [nvarchar](50) NULL,
	[PRODUCT_CPA2_1] [nvarchar](50) NULL,
	[PRODUCT_BEC] [nvarchar](50) NULL,
	[PRODUCT_SECTION] [nvarchar](50) NULL,
	[FLOW] [nvarchar](50) NULL,
	[STAT_REGIME] [nvarchar](50) NULL,
	[SUPP_UNIT] [nvarchar](50) NULL,
	[PERIOD] [nvarchar](50) NULL,
	[VALUE_IN_EUROS] [nvarchar](50) NULL,
	[QUANTITY_IN_KG] [nvarchar](50) NULL,
	[SUP_QUANTITY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[tr_extra_ue]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[tr_extra_ue](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[tr_extra_ue_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[tr_extra_ue_trim](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[TRIMESTRE] [varchar](50) NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
