/****** Object:  User [backend_user]    Script Date: 21/09/2026 10:00:05 ******/
IF DATABASE_PRINCIPAL_ID(N'backend_user') IS NULL
	CREATE USER [backend_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [batch_user]    Script Date: 21/09/2026 10:00:05 ******/
IF DATABASE_PRINCIPAL_ID(N'batch_user') IS NULL
	CREATE USER [batch_user] WITH DEFAULT_SCHEMA=[dbo]
GO
IF NOT EXISTS (
	SELECT 1
	FROM sys.database_role_members AS drm
	INNER JOIN sys.database_principals AS role_principal
		ON role_principal.principal_id = drm.role_principal_id
	INNER JOIN sys.database_principals AS member_principal
		ON member_principal.principal_id = drm.member_principal_id
	WHERE role_principal.name = N'db_owner'
	  AND member_principal.name = N'batch_user'
)
	ALTER ROLE [db_owner] ADD MEMBER [batch_user]
GO
/****** Object:  Schema [raw]    Script Date: 21/09/2026 10:00:05 ******/
IF SCHEMA_ID(N'raw') IS NULL
	EXEC(N'CREATE SCHEMA [raw]')
GO
/****** Object:  Schema [temp]    Script Date: 21/09/2026 10:00:05 ******/
IF SCHEMA_ID(N'temp') IS NULL
	EXEC(N'CREATE SCHEMA [temp]')
GO
/****** Object:  Table [dbo].[comext_exp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.comext_exp', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[comext_exp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[comext_imp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.comext_imp', N'U') IS NULL
CREATE TABLE [dbo].[comext_imp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cpa_intra]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.cpa_intra', N'U') IS NULL
CREATE TABLE [dbo].[cpa_intra](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PERIOD] [bigint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cpa_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.cpa_trim', N'U') IS NULL
CREATE TABLE [dbo].[cpa_trim](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](50) NULL,
	[trimestre] [varchar](50) NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_extra_ue]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.tr_extra_ue', N'U') IS NULL
CREATE TABLE [dbo].[tr_extra_ue](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tr_extra_ue_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.tr_extra_ue_trim', N'U') IS NULL
CREATE TABLE [dbo].[tr_extra_ue_trim](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[TRIMESTRE] [varchar](50) NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[z_eu_country]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.z_eu_country', N'U') IS NULL
CREATE TABLE [dbo].[z_eu_country](
	[CODE] [nvarchar](2) NOT NULL,
	[DAT_INI] [int] NULL,
	[DAT_FIN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[z_eu_country] ([CODE], [DAT_INI], [DAT_FIN])
SELECT seed.[CODE], seed.[DAT_INI], seed.[DAT_FIN]
FROM (VALUES
	(N'AT', 1900, CAST(NULL AS int)),
	(N'BE', 1900, CAST(NULL AS int)),
	(N'BG', 1900, CAST(NULL AS int)),
	(N'CY', 1900, CAST(NULL AS int)),
	(N'CZ', 1900, CAST(NULL AS int)),
	(N'DE', 1900, CAST(NULL AS int)),
	(N'DK', 1900, CAST(NULL AS int)),
	(N'EE', 1900, CAST(NULL AS int)),
	(N'ES', 1900, CAST(NULL AS int)),
	(N'FI', 1900, CAST(NULL AS int)),
	(N'FR', 1900, CAST(NULL AS int)),
	(N'GB', 1900, 201912),
	(N'GR', 1900, CAST(NULL AS int)),
	(N'HR', 1900, CAST(NULL AS int)),
	(N'HU', 1900, CAST(NULL AS int)),
	(N'IE', 1900, CAST(NULL AS int)),
	(N'IT', 1900, CAST(NULL AS int)),
	(N'LT', 1900, CAST(NULL AS int)),
	(N'LU', 1900, CAST(NULL AS int)),
	(N'LV', 1900, CAST(NULL AS int)),
	(N'MT', 1900, CAST(NULL AS int)),
	(N'NL', 1900, CAST(NULL AS int)),
	(N'PL', 1900, CAST(NULL AS int)),
	(N'PT', 1900, CAST(NULL AS int)),
	(N'RO', 1900, CAST(NULL AS int)),
	(N'SE', 1900, CAST(NULL AS int)),
	(N'SI', 1900, CAST(NULL AS int)),
	(N'SK', 1900, CAST(NULL AS int))
) AS seed ([CODE], [DAT_INI], [DAT_FIN])
WHERE NOT EXISTS (
	SELECT 1
	FROM [dbo].[z_eu_country] AS existing
	WHERE existing.[CODE] = seed.[CODE]
)
GO
/****** Object:  Table [raw].[annual_industrial_production]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.annual_industrial_production', N'U') IS NULL
CREATE TABLE [raw].[annual_industrial_production](
	[DATAFLOW] [nvarchar](50) NULL,
	[LAST UPDATE] [nvarchar](50) NULL,
	[freq] [nvarchar](50) NULL,
	[indic_bt] [nvarchar](50) NULL,
	[nace_r2] [nvarchar](50) NULL,
	[s_adj] [nvarchar](50) NULL,
	[unit] [nvarchar](50) NULL,
	[geo] [nvarchar](50) NULL,
	[TIME_PERIOD] [int] NULL,
	[OBS_VALUE] [float] NULL,
	[OBS_FLAG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[annual_report]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.annual_report', N'U') IS NULL
CREATE TABLE [raw].[annual_report](
	[DATAFLOW] [nvarchar](50) NULL,
	[LAST UPDATE] [nvarchar](50) NULL,
	[freq] [nvarchar](50) NULL,
	[indic_de] [nvarchar](50) NULL,
	[geo] [nvarchar](50) NULL,
	[TIME_PERIOD] [int] NULL,
	[OBS_VALUE] [float] NULL,
	[OBS_FLAG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[comext_exp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.comext_exp', N'U') IS NULL
CREATE TABLE [raw].[comext_exp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[comext_imp]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.comext_imp', N'U') IS NULL
CREATE TABLE [raw].[comext_imp](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[cpa_intra]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.cpa_intra', N'U') IS NULL
CREATE TABLE [raw].[cpa_intra](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PERIOD] [bigint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[cpa_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.cpa_trim', N'U') IS NULL
CREATE TABLE [raw].[cpa_trim](
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[FLOW] [tinyint] NULL,
	[cpa] [varchar](50) NULL,
	[trimestre] [varchar](50) NULL,
	[val_cpa] [bigint] NULL,
	[q_kg] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[external_file]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.external_file', N'U') IS NULL
CREATE TABLE [raw].[external_file](
	[filename] [nvarchar](50) NULL,
	[url] [nvarchar](200) NULL,
	[tablename] [varchar](50) NULL,
	[schemaname] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[product]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.product', N'U') IS NULL
CREATE TABLE [raw].[product](
	[DECLARANT] [nvarchar](50) NULL,
	[DECLARANT_ISO] [nvarchar](50) NULL,
	[PARTNER] [nvarchar](50) NULL,
	[PARTNER_ISO] [nvarchar](50) NULL,
	[TRADE_TYPE] [nvarchar](50) NULL,
	[PRODUCT_NC] [nvarchar](50) NULL,
	[PRODUCT_SITC] [nvarchar](50) NULL,
	[PRODUCT_CPA2002] [nvarchar](50) NULL,
	[PRODUCT_CPA2008] [nvarchar](50) NULL,
	[PRODUCT_CPA2_1] [nvarchar](50) NULL,
	[PRODUCT_BEC] [nvarchar](50) NULL,
	[PRODUCT_SECTION] [nvarchar](50) NULL,
	[FLOW] [nvarchar](50) NULL,
	[STAT_REGIME] [nvarchar](50) NULL,
	[SUPP_UNIT] [nvarchar](50) NULL,
	[PERIOD] [nvarchar](50) NULL,
	[VALUE_IN_EUROS] [nvarchar](50) NULL,
	[QUANTITY_IN_KG] [nvarchar](50) NULL,
	[SUP_QUANTITY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[tr_extra_ue]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.tr_extra_ue', N'U') IS NULL
CREATE TABLE [raw].[tr_extra_ue](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[PERIOD] [bigint] NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [raw].[tr_extra_ue_trim]    Script Date: 21/09/2026 10:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'raw.tr_extra_ue_trim', N'U') IS NULL
CREATE TABLE [raw].[tr_extra_ue_trim](
	[PRODUCT_NSTR] [varchar](5) NULL,
	[DECLARANT_ISO] [varchar](5) NULL,
	[PARTNER_ISO] [varchar](5) NULL,
	[TRIMESTRE] [varchar](50) NULL,
	[TRANSPORT_MODE] [tinyint] NULL,
	[FLOW] [tinyint] NULL,
	[VALUE_IN_EUROS] [bigint] NULL,
	[QUANTITY_IN_KG] [bigint] NULL
) ON [PRIMARY]
GO
