// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "vue-select/src/scss/vue-select.scss";

/* Layout */
.c-header {
  min-height: 66px;
}

.c-header.c-header-fixed {
  border: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14),
    0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14),
    0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
  -webkit-clip-path: inset(0 0 -1000px 0);
  clip-path: inset(0 0 -1000px 0);
}

.header-link {
  padding-left: 0.2rem;
}

.c-sidebar-brand {
  flex: 0 0 66px;
}

.c-sidebar .c-sidebar-nav-link {
  color: white;
}

.c-sidebar-nav-link:focus-visible {
  border: 1px solid white;
}

.c-sidebar .c-sidebar-nav-title {
  color: white;
}

.btn-export .btn:not([class*=ghost]):not([class*=link]):not([class*=outline]):not([class*=transparent]) {
  border: 0;
  box-shadow: none;
}

.card-header {
  font-size: 1rem;
  font-weight: 600;
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  border-bottom: none;
}

.card-header:not(.content-center)>.c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.2rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.c-icon:not(.c-icon-c-s):not(.c-icon-custom-size) {
  height: 1.1rem !important;
}

.icon-link {
  color: $primary;
}

.table thead th {
  border-top: none;
  border-bottom: none;
}

.table-hover tbody tr:hover {
  background-color: #f6f6f6;
}

.section-link {
  margin-top: 1.2rem;
}

.section-link a {
  padding-right: 0.3rem;
}

.section-link-disabled {
  color: $secondary;
}

.section-link-disabled>.theme--light.v-icon {
  color: $secondary;
}

@media (max-width: 1100px) {
  .data-info-none {
    display: none !important;
  }
}

/*
 * Acronym 
 */
@media (max-width: 450px) {
  .acronym {
    display: none !important;
  }
}

.acronym {
  font-size: 0.875rem;
  font-weight: 500;
  color: #3c4b64;
}

/* Cards */
.card-header-actions {
  margin-right: 0;
}

.card-header-actions .material-design-icon>.material-design-icon__svg {
  width: 1.2rem;
  height: 1.2rem;
  bottom: auto;
}

.card-map {
  height: calc(100vh - 200px);
}

.card-graph {
  height: calc(100vh - 150px);
}

.card-label {
  color: $primary;
  font-size: 0.9em;
}

.card-no-border {
  padding: 0;
  border: none;
}

.card-no-shadow {
  box-shadow: none !important;
}

.card-title {
  line-height: 2;
  padding-left: 0.8rem;
}

.card-filter .card-body {
  padding-top: 0.5rem;
}

.card-filter-title {
  line-height: 2;
}

.btn-help {
  float: right;
}

.btn-help .btn-sm,
.btn-help .btn-group-sm>.btn {
  font-size: 0.875rem;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
}


/* Forms */
.form-control {
  color: rgba(31, 37, 47, 0.95) !important;
}

.form-group {
  margin-bottom: 0.2rem;
}

.form-mandatory {
  margin-top: 0.4rem;
  color: $primary;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $light;
  opacity: 1;
  margin-bottom: 1rem;
}

/* Validation styles */
.help-block {
  visibility: hidden;
  font-size: 80%;
  color: $danger;
  font-style: italic;
}

.invalid {
  border-color: $danger !important;
}

.show {
  visibility: visible;
}

/*Tabs*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  color: rgba(31, 37, 47, 0.95);
  border-bottom: 2px solid #ebedef;
  margin-bottom: 5px;
}

.nav-tabs .nav-link:hover {
  border-color: #ebedef;
}


.nav-tabs .nav-link.active {
  color: $primary;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid $primary;
  background-color: white;
}

.nav-tabs .nav-item.show .nav-link {
  color: $primary;
  background-color: white;
}

/* V-Select*/
.vs__search::placeholder {
  color: #768192;
}

.vs__dropdown-toggle {
  border: 1px solid #ced2d8;
}

.vs__selected,
.vs__dropdown-option {
  color: rgba(31, 37, 47, 0.95) !important;
}

.vs__dropdown-option--highlight {
  color: white !important;
  background-color: $primary;
}

.vs__selected-options {
  padding: 2px 3px 2px 6px;
}

.vs_actions {
  padding: 3px 6px 0 3px;
}

.vs__clear {
  padding-bottom: 5px;
}

.is-invalid>.vs__dropdown-toggle {
  border-color: $danger;
}

.is-invalid>.form-control {
  border-color: $danger;
}

/* Spinner */
.spinner>div {
  background-color: $primary !important;
}

.circle-spin {
  position: absolute;
  top: 20%;
  left: 50%;
}

/* Map */
.info {
  font: 1em;
  line-height: 15px;
  color: #3c4b64;
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 6px;
  margin-left: 45px;
  opacity: 0.8;
  width: calc(35vw);
  height: calc(40vh);
  overflow-y: scroll;
}

.info h4 {
  margin: 0 0 5px;
  color: #3c4b64;
}

.info h5 {
  text-align: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding-top: 0.4rem;
  color: #3c4b64;
}

.legend {
  line-height: 15px;
  color: #555;
  padding: 8px;
  font: 16px/18px Arial, Helvetica, sans-serif;
  width: 300px;
  height: auto;
  margin: 6px;
}

.legend ul {
  display: block;
  padding-inline-start: 25px !important;
  padding-inline-end: 25px !important;
}

.legend li {
  list-style-type: none;
}

.tooltip-span {
  padding: 1rem 1rem;
}

/*Slider */

/* Theme color */
$themeColor: #321fdb;

/* Style */
@import "~vue-slider-component/lib/theme/material.scss";

.vue-slider {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
}

.vue-slider-mark-label {
  font-size: 12px !important;
  color: rgba(31, 37, 47, 0.95) !important;
}

.vue-slider-ltr .vue-slider-mark-label,
.vue-slider-rtl .vue-slider-mark-label {
  -webkit-transform: rotate(60deg) !important;
  -webkit-transform-origin: top !important;
  transform: rotate(60deg) !important;
  transform-origin: top !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  margin-top: 20px !important;

}

/* Material design icons*/
.material-design-icon.icon-2x {
  height: 1.8em;
  width: 1.8em;
}

.material-design-icon.icon-2x>.material-design-icon__svg {
  height: 1.8em;
  width: 1.8em;
}

label {
  cursor: pointer;
}

.no-display {
  /*display: none;*/
  

}